ul,
p {
  margin: 0;
  padding: 0;
}

/* login style */
.form-control {
  border: none;
}

input {
  font-size: 13px;
}

.faqs-container {
  display: flex;
  flex-direction: column;
}

.faq-head {
  text-align: center;
}

.faqs-container h2 {
  /* margin-bottom: 2rem; */
  color: hsl(0, 0%, 37%);
}

.faqs-container h2 span {
  font-weight: 400;
  font-family: monospace;
  margin-left: 5px;
}


.faqs {
  margin: 4rem auto;
  width: 950px;
}

.accordion-item {
  padding: 15px;
  background: #e4e4e4;
  margin: 15px 0;
}

.accordion-item .collapsed {
  color: hsl(0, 0%, 13%);
  background: #e4e4e4;
  font-size: 20px;
}

.accordion-body {
  padding: 16px 12px 4px 12px;
  font-size: 17px;
}

.accordion-button {
  font-size: 20px;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: hsl(0, 0%, 13%);
  background-color: rgb(254, 252, 248);
}
