:root {
  --sonic-silver: hsl(0, 0%, 47%);
  --eerie-black: hsl(0, 0%, 13%);
  --salmon-pink: hsl(353, 100%, 78%);
  --bittersweet: hsl(0, 100%, 70%);
  --ocean-green: hsl(152, 51%, 52%);
  --davys-gray: hsl(0, 0%, 33%);
  --cultured: hsl(0, 0%, 92%);
  --white: hsl(0, 100%, 100%);
  --onyx: hsl(0, 0%, 27%);
  --main-color: #fd4646;
  --text-color: #171427;
  --bg-color: #fff;
  --color: #43bb59;
  --cart-color: #ff6600d3;

  --fs-1: 1.563rem;
  --fs-2: 1.375rem;
  --fs-3: 1.25rem;
  --fs-4: 1.125rem;
  --fs-5: 1rem;
  --fs-6: 0.938rem;
  --fs-7: 0.875rem;
  --fs-8: 0.813rem;
  --fs-9: 0.75rem;
  --fs-10: 0.688rem;
  --fs-11: 0.625rem;

  --fs-1: 25px;
  --fs-2: 22px;
  --fs-3: 20px;
  --fs-4: 18px;
  --fs-5: 16px;
  --fs-6: 15px;
  --fs-7: 14px;
  --fs-8: 13px;
  --fs-9: 12px;
  --fs-10: 11px;
  --fs-11: 10px;

  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  --border-radius-md: 10px;
  --border-radius-sm: 5px;

  --transition-timing: 0.2s ease;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--onyx);
}

li {
  list-style: none;
}

.footer {
  /* background-color: #302656; */
  background-color: #232F3E;
  padding: 50px 20px 33px 20px;
}
.footer__container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.footer__logo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 65px;
}
.footer__logo .logo_white {
  position: absolute;
  bottom: 64px;
}
.footer__logo .footer__item {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.footer__logo .footer__item span {
  color: var(--color);
  font-weight: 650;
}
.footer-social__items {
  display: flex;
}
.footer__social a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border: 1px solid #ffffff15;
  font-size: 1.2rem;
  margin: 0 5px;
  transition: all ease 0.3s;
}
.footer__social a:hover {
  background: var(--color);
  transition: all ease 0.3s;
}
.footer__links {
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 550px;
}
.footer__links ul {
  margin-top: 10px;
}
.footer__links ul li a,
.footer__links ul li p {
  color: #ffffff;
  opacity: 0.8;
  margin: 4px 0;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.footer__links ul li p:hover,
.footer__links li a:hover {
  transition: all ease 0.1s;
  opacity: 1;
}

.liner {
  border: 1px solid #fff;
  margin: 30px auto;
  opacity: 0.2;
  width: 80%;
}
.copyrights {
  text-align: center;
  color: #fff;
  font-size: 14px;
}
