.my_page {
  width: 100%;
  height: auto;
  display: flex;
}

.my_page .css-heg063-MuiTabs-flexContainer {
  flex-direction: column;
}

.my_page .css-mn3ro6-MuiTabs-indicator {
  height: 0px;
  width: 0px;
}

.my_page .css-1ujnqem-MuiTabs-root {
  width: 100%;
}

.my_page .my_page_frame {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.my_page_frame .my_page_left {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.my_page_left .menu_name {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #c8c7c7;
  font-weight: 450;
  font-size: 30px;
  color: #303030;
}

.my_page_left .menu_content {
  margin-top: 10px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
}
.css-1sd5v81-MuiStack-root {
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
}
.toastui-editor-contents h3 {
  color: #303030;
}
.my_page_left .write_content {
  margin-top: 10px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.my_page .menu_content .post_content {
  margin-top: 10px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.my_page .all_article_box {
  margin-top: 20px;
  width: 100%;
  height: 170px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  /* background: #000000; */
  box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.2);
  border-radius: 30px;
  border: 1px solid #d9d9d9;
  overflow: hidden;
}

.my_page .all_article_box .all_article_img {
  width: 150px;
  height: 100%;
  border-radius: 30px 0px 0px 30px;
  background-size: cover;
}

.my_page .all_article_box .all_article_container {
  margin-left: 15px;
  width: 75%;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.my_page .all_article_author_user {
  margin-left: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #363636;
  text-transform: capitalize;
}

.my_page .all_article_title {
  font-size: 22px;
  line-height: 33px;
  color: #1a1818;
  font-weight: 500;
}

.my_page .all_article_desc {
  margin-top: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #363636;
}

.my_page .article_share {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.my_page .article_share .article_share_main {
  width: 330px;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.article_share_main_box span {
  /* color: #fff; */
}

.my_page .menu_content .follow_box {
  margin-top: 15px;
  padding: 25px 45px;
  width: 95%;
  height: 140px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  /* background: #000; */
  box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.2);
  border: 1px solid #d9d9d9;
  border-radius: 17px;
}

.my_page .follow_box .username_text {
  margin-top: 10px;
  width: 100%;
  font-size: 16px;
  line-height: 12px;
  color: #444444;
}

.my_page .follow_box .name_text {
  margin-top: 16px;
  font-weight: 400;
  font-size: 26px;
  line-height: 24px;
  color: #444444;
  text-transform: capitalize;
}

.my_page .follow_box .follow_btn {
  width: 175px;
  height: 57px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  background: #30945e;
  border: 1px solid #ffffff;
  box-shadow: 1px 4px 6px rgba(211, 211, 211, 0.25),
    inset 0px 4px 4px rgba(255, 255, 255, 0.25);
  border-radius: 43px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  text-transform: capitalize;
}

.my_page .follow_box .follow_cancel_btn {
  width: 175px;
  height: 57px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  background: #e81010b8;
  border: 1px solid #ffffff;
  box-shadow: 1px 4px 6px rgba(211, 211, 211, 0.25),
    inset 0px 4px 4px rgba(255, 255, 255, 0.25);
  border-radius: 43px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  text-transform: capitalize;
}

.my_page .follow_box .following_already {
  /* margin-left: 11px; */
  width: 175px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #1976d2;
  box-shadow: 1px 4px 6px rgba(211, 211, 211, 0.25),
    inset 0px 4px 4px rgba(255, 255, 255, 0.25);
  border-radius: 26px;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  text-transform: capitalize;
}

.my_page_frame .my_page_right {
  margin-left: 30px;
  width: 30%;
  height: 680px;
  display: flex;
  border-radius: 15px;
  background: #fff;
  flex-direction: column;
  border: 1px solid #d5d5d5;
}

.my_page .order_info_box {
  position: relative;
  padding: 0 20px 20px 20px;
  width: 100%;
  max-height: 530px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my_page .order_info_box .member-img_bg {
  width: 394px;
  overflow: hidden;
}
.my_page .order_info_box .member-img_bg img {
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.my_page .order_info_box .user-info_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 80px;
  height: 100px;
}
.my_page .order_info_box .settings_btn {
  position: absolute;
  top: 11%;
  right: 19%;
  cursor: pointer;
}

.my_page .order_info_box .order_user_img {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my_page .order_info_box .order_user_img .order_user_avatar {
  box-shadow: 2px 3px 8px rgba(34, 34, 34, 0.32);
  padding: 8px;
  width: 117px;
  height: 117px;
  border-radius: 50%;
  margin-top: 40px;
  background: #fff;
}

.my_page .order_info_box .order_user_icon_box {
  position: absolute;
  padding: 5px;
  width: 37px;
  height: 37px;
  top: 81%;
  right: 0;
  display: flex;
  background: rgb(209 209 209 / 33%);
  border-radius: 37px;
}

.my_page .order_info_box .order_user_name {
  margin-top: 10px;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  color: #08090d;
  text-transform: capitalize;
}

.my_page .order_info_box .order_user_prof {
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #a1a1a1;
}

.my_page .order_info_box .user_media_box {
  margin-top: 10px;
  width: 220px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.my_page .order_info_box .user_desc {
  margin-top: 30px;
  width: 90%;
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #616164;
  overflow: auto;
}

.my_page .order_info_box .follows {
  /* margin-top: 30px; */
  width: 90%;
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #616164;
}

.my_page .order_info_box .css-1e3kzd4-MuiButtonBase-root-MuiButton-root {
  margin-top: 15px;
  min-width: 90%;
  height: 44px;
  text-transform: capitalize;
  font-size: 25px;
  line-height: 38px;
  color: #ffffff;
}

.my_page .my_page_menu {
  margin-top: 175px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my_page_menu .menu_box {
  margin-bottom: 10px;
  padding: 0px 115px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.menu_box.active {
  background-color: rgb(218, 218, 218);
}
.menu_box.active span {
  color: #fff;
}

.my_page .menu_box img {
  width: 25px;
}

.my_page .menu_box span {
  margin-left: 20px;
  font-size: 18px;
  line-height: 38px;
  color: #000000;
}

.my_page .my_settings_page {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.my_page .my_settings_page .input_frame {
  margin-top: 25px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.my_page .my_settings_page .short_input {
  width: 49%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.my_page .my_settings_page .long_input {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.my_page .my_settings_page .spec_label {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #303030;
}

.my_page .my_settings_page .spec_input {
  position: relative;
  margin-top: 10px;
  padding-left: 20px;
  width: 100%;
  height: 54px;
  border: none;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.2);

  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #4f547b;
}

.my_page .my_settings_page .spec_textarea {
  position: relative;
  margin-top: 10px;
  padding: 20px;
  width: 100%;
  height: 200px;
  border: none;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.2);

  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #4f547b;
}

.my_page .my_settings_page .member_media_frame {
  margin-top: 25px;
  position: relative;
  padding: 10px;
  width: 100%;
  height: auto;
  display: flex;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.2);
}
.my_settings_page .member_media_frame .mb_image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.my_page .my_settings_page .media_change_box {
  position: relative;
  margin-left: 20px;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.my_page .my_settings_page .media_change_box span {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #140342;
}

.my_page .my_settings_page .media_change_box p {
  margin: 10px 0px 14px 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #4f547b;
}

.my_page .my_settings_page .up_del_box {
  position: relative;
  width: 37px;
  height: 37px;
  display: flex;
  background: #cbcbcb;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}

.my_page .my_settings_page .up_del_box input {
  position: absolute;
  width: 20px;
  height: 16px;
  padding: 0;
  background: red;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

#filled-basic {
  height: auto;
}
