:root {
  --sonic-silver: hsl(0, 0%, 47%);
  --eerie-black: hsl(0, 0%, 13%);
  --salmon-pink: hsl(353, 100%, 78%);
  --bittersweet: hsl(0, 100%, 70%);
  --ocean-green: hsl(152, 51%, 52%);
  --davys-gray: hsl(0, 0%, 33%);
  --cultured: hsl(0, 0%, 92%);
  --white: hsl(0, 100%, 100%);
  --onyx: hsl(0, 0%, 27%);
  --main-color: #fd4646;
  --text-color: #171427;
  --bg-color: #fff;
  --color: #43bb59;
  --cart-color: #ff6600d3;

  --fs-1: 1.563rem;
  --fs-2: 1.375rem;
  --fs-3: 1.25rem;
  --fs-4: 1.125rem;
  --fs-5: 1rem;
  --fs-6: 0.938rem;
  --fs-7: 0.875rem;
  --fs-8: 0.813rem;
  --fs-9: 0.75rem;
  --fs-10: 0.688rem;
  --fs-11: 0.625rem;

  --fs-1: 25px;
  --fs-2: 22px;
  --fs-3: 20px;
  --fs-4: 18px;
  --fs-5: 16px;
  --fs-6: 15px;
  --fs-7: 14px;
  --fs-8: 13px;
  --fs-9: 12px;
  --fs-10: 11px;
  --fs-11: 10px;

  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  --border-radius-md: 10px;
  --border-radius-sm: 5px;

  --transition-timing: 0.2s ease;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--onyx);
}

li {
  list-style: none;
}

button {
  background: none;
  font: inherit;
  border: none;
  cursor: pointer;
}

img {
  width: 100%;
}

.cart {
  width: 30px;
  cursor: pointer;
}

img,
ion-icon,
button,
a {
  display: block;
}

span {
  display: inline-block;
}

html {
  font-family: "Poppins", sans-serif;
  overscroll-behavior: contain;
  scroll-behavior: smooth;
}

input {
  display: block;
  width: 100%;
  /* font: inherit; */
}

input::placeholder {
  font: inherit;
}

body {
  background: #fff;
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: var(--white);
  border-left: 1px solid var(--cultured);
}

body::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 80%);
  border: 3px solid var(--white);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 70%);
}

.format.home-navbar .header-top {
  height: 38px;
  margin-top: 7px;
  padding: 5px 0;
}
.header_top {
  width: 100%;
  border-bottom: 1px solid var(--cultured);
}

/* #HEADER */
.header-main .container {
  gap: 80px;
}
.header-main {
  padding: 20px 0;
}
.header_main {
  border-bottom: 1px solid var(--cultured);
}

.header-logo {
  margin-bottom: 20px;
}

.header-logo .logo {
  width: 175px;
}

.header-top .container,
.header-main .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-search-container {
  position: relative;
}
.header-search-container {
  flex-grow: 1;
}

.header-search-container .search-field {
  font-size: var(--fs-7);
  color: var(--onyx);
  padding: 10px 15px;
  padding-right: 50px;
  border: 1px solid var(--cultured);
  border-radius: var(--border-radius-md);
  background: #f7f7f7;
  outline: none;
}
.search-field::-webkit-search-cancel-button {
  display: none;
}
.search-btn {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  color: #7c7c7c;
  font-size: 18px;
  transition: color var(--transition-timing);
}
.search-btn:hover {
  color: var(--ocean-green);
}

.header-user-actions {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: -20px;
}
.header-user-actions .my_page {
  display: flex;
  align-items: center;
  /* text-decoration: underline; */
}
.header-user-actions .my_page .my-page_icon {
  font-size: 24px;
  margin-right: 2px;
  color: #6a6969;
}
.header-user-actions .action-btn {
  position: relative;
  font-size: 25px;
  color: var(--onyx);
}
.help .help_call {
  font-size: 25px;
  padding: 0;
}
.shoppingbag {
  display: flex;
  color: #b0adad;
}
.shoppingbag:hover {
  /* color: #f3f2f2; */
  background: #f1f0f0;
  /* background: #43bb59; */
  border-radius: 50%;
}
.header-user-actions .help {
  display: flex;
  font-size: 19px;
  margin-left: -18px;
  text-decoration: underline;
  cursor: pointer;
}

.login-btn-action {
  display: flex;
  align-items: center;
  border: 1px solid #9d9d9db1;
  border-radius: 18px;
  background: hsl(0, 0%, 97%);
  padding: 5px;
}

.login-btn-action:hover {
  background: #43bb59;
  border: 1px solid #43bb59;
}

.login-btn-action:hover .icon_pers,
.login-btn-action:hover .login-button {
  color: #fff;
}

.login-btn-action .icon_pers {
  font-size: 25px;
  color: #5a5957;
}

.login-button {
  font-size: 16px;
  margin-left: 3px;
}

/* .header-top {
  display: block;
  padding: 5px 0;
  margin-top: 7px;
} */
.header-social-container,
.header-top-actions {
  display: none;
}
.header-alert-news {
  color: var(--sonic-silver);
  font-size: var(--fs-9);
  text-transform: uppercase;
}
.header-alert-news b {
  font-weight: var(--weight-500);
}

.header-social-container {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header-social-container .social-link {
  display: flex;
  padding: 5px;
  background: hsl(0, 0%, 95%);
  border-radius: var(--border-radius-sm);
  color: var(--sonic-silver);
  transition: var(--transition-timing);
}
.header-social-container .social-link:hover {
  background: var(--color);
  color: var(--white);
}

.header-logo {
  margin-bottom: 0;
}
.header-top-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-top-actions select {
  border: none;
  display: block;
  min-width: 50px;
  padding: 5px 0;
  font: inherit;
  color: var(--sonic-silver);
  font-size: var(--fs-8);
  text-transform: uppercase;
  cursor: pointer;
  transition: var(--transition-timing);
}
.header-top-actions select:hover {
  color: var(--eerie-black);
}
.header-search-container {
  min-width: 300px;
}

/* login */
.d-flex {
  display: flex;
  align-items: center;
}
/* ========== User Form =========== */

/* login end */

.desktop-menu-category-list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 10px 0 10px 0;
}

.menu-category {
  display: flex;
  align-items: center;
}

.menu-category .menu-arrow {
  margin-left: 1px;
  color: #828181;
  font-size: 14px;
}

.menu-category:hover .menu-arrow {
  color: var(--color);
}

.desktop-menu-category-list .menu-category:not(:nth-child(2)) {
  position: relative;
}

.desktop-menu-category-list .menu-category > .menu-title {
  position: relative;
  color: #525252;
  font-size: 15px;
  font-weight: 530;
  letter-spacing: 0.5px;
  padding: 8px 0;
  transition: var(--transition-timing);
  cursor: pointer;
}

.desktop-menu-category-list .menu-category > .menu-title:hover {
  color: var(--color);
}

.desktop-menu-category-list .menu-category > .menu-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--color);
  transform: scaleX(0);
  transform-origin: left;
  transition: var(--transition-timing);
}

.desktop-menu-category-list .menu-category > .menu-title:hover::after {
  transform: scaleX(1);
}

.dropdown-panel {
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--white);
  width: 100%;
  height: 370px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 30px;
  border: 1px solid var(--cultured);
  box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.1);
  border-radius: var(--border-radius-md);
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: var(--transition-timing);
  z-index: 5;
}

.desktop-menu-category-list .menu-category:hover > .dropdown-panel {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.dropdown-panel-list .menu-title a {
  color: #525252;
  font-size: var(--fs-7);
  font-weight: var(--weight-600);
  padding-bottom: 10px;
  border-bottom: 1px solid var(--cultured);
  margin-bottom: 10px;
}

.panel-list-item a {
  color: var(--sonic-silver);
  font-size: var(--fs-7);
  text-transform: capitalize;
  transition: var(--transition-timing);
}

.panel-list-item a:hover {
  color: var(--color);
}

.panel-list-item:not(:last-child) a {
  padding: 4px 0;
}

.panel-list-item:last-child {
  margin-top: 20px;
}

.panel-list-item img {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius-sm);
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  background: var(--white);
  padding: 20px 0 15px 0;
  border-radius: var(--border-radius-md);
  border: 1px solid var(--cultured);
  box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.1);
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: var(--transition-timing);
  z-index: 5;
}

.desktop-menu-category-list .menu-category:hover > .dropdown-list {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.dropdown-list .dropdown-item a {
  color: var(--sonic-silver);
  font-size: var(--fs-7);
  text-transform: capitalize;
  padding: 4px 20px;
  transition: var(--transition-timing);
}

.dropdown-list .dropdown-item a:hover {
  color: var(--color);
}

/* login */
/* ========== User Form =========== */
.css-wxhqmy-JoyModal-backdrop {
  backdrop-filter: blur(0) !important;
  background-color: rgba(0, 0, 0, 0.6) !important;
}
.icon img {
  width: 20px;
}
.user-form.active {
  background-color: rgba(0, 0, 0, 0.6);
}

.user-form .login-container {
  position: relative;
  width: 760px;
  height: 430px;
  background-color: #fff;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 10px;
}
.user-form .signup-container {
  position: relative;
  width: 760px;
  height: 430px;
  background-color: #fff;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 10px;
}
.user-form .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.user-form .img-box {
  position: relative;
  width: 50%;
  height: 100%;
  transition: all 500ms ease-in-out;
}
.user-form .img-box img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.user-form .form-box {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: #fff;
  transition: 500ms ease-in-out;
}
.user-form .form-box .top {
  /* display: flex; */
  text-align: center;
  position: absolute;
  top: 30%;
  right: 70px;
}

.user-form .form-box .top-second {
  text-align: center;
  position: absolute;
  top: 22%;
  right: 70px;
}

.user-form .form-box .top p {
  font-size: 14px;
}
.user-form .form-box .top span {
  margin-left: 4px;
  color: #1a1aff;
  cursor: pointer;
}
.user-form .form-box .top span:hover {
  text-decoration: underline;
}

.user-form .form-second {
  position: absolute;
  top: 65%;
  left: 50%;
  width: 100%;
  max-width: 300px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.welcome {
  font-weight: 400;
  font-size: 26px;
  text-align: center;
  margin-top: 60px;
}

.welcome-second {
  font-weight: 400;
  font-size: 26px;
  text-align: center;
  margin-top: 45px;
}

.user-form .form-second .form-control:first-child {
  text-align: center;
}
.user-form .form-second .form-control:first-child input {
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 10px 0;
  margin-bottom: 10px;
  text-indent: 16px;
  width: 100%;
  color: #4d4d4d;
  outline: none;
}
.user-form .form-second .form-control:first-child input[type="submit"] {
  display: block;
  text-align: center;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #43bb59;
  color: #fff;
  transition: 0.5s;
  font-size: 16px;
}

.user-form .form-second .form-control:first-child h2 {
  width: 100%;
  font-weight: 400;
  font-size: 26px;
  margin-bottom: 20px;
}

.user-form .form-second .form-control:first-child span {
  font-size: 13px;
  display: block;
  text-align: right;
  margin-bottom: 20px;
}
.user-form .form-second .form-control:first-child div {
  position: relative;
}
.user-form .form-second .form-control:first-child .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  cursor: pointer;
}
.user-form .form-second .form-control:last-child {
  text-align: center;
}
.user-form .form-second .form-control:last-child p {
  position: relative;
  display: inline-block;
  font-size: 14px;
}
.user-form .form-second .form-control:last-child p::after {
  content: "";
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 2px;
  background-color: #ddd;
}
.user-form .form-second .form-control:last-child p::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 2px;
  background-color: #ddd;
}
.user-form .form-second .form-control:last-child .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.user-form .form-second .form-control:last-child .icons .icon {
  cursor: pointer;
}
.user-form .form-second .form-control:last-child .icons .icon:not(:last-child) {
  margin-right: 15px;
}
.user-form .login-container .signup {
  pointer-events: none;
}
/* .user-form .login-container .signup .form-box {
  top: 100%;
} */
/* .user-form .login-container .signup .img-box {
  top: -100%;
} */
.user-form .login-container.active .signup {
  pointer-events: initial;
}
.user-form .login-container.active .signup .form-box {
  top: 0;
}
.user-form .login-container.active .signup .img-box {
  top: 0;
}
.user-form .login-container .login .form-box {
  top: 0;
}
.user-form .login-container .login .img-box {
  top: 0;
}
.user-form .login-container.active .login .form-box {
  top: 100%;
}
.user-form .login-containerr.active .login .img-box {
  top: -100%;
}

.user-form .form-second {
  top: 62%;
}

/* login end */

/* banner */
.mySwiper {
  margin-top: 20px;
  border-radius: 15px;
}
.slide_img {
  border-radius: 15px;
}
.swiper-button-prev {
  margin-left: 10px;
  /* color: #fff !important; */
}
.swiper-button-prev:after {
  font-size: 70px !important;
  font-weight: 900;
}
.swiper-button-next:after {
  font-size: 70px !important;
  font-weight: 900;
}
.swiper-button-next {
  margin-right: 10px;
  /* color: #fff !important; */
}

/**** */
.banner_section {
  position: relative;
  margin-top: 20px;
  background-image: url("/public/images/background.png");
  background-position: center;
  width: 100%;
  height: 500px;
}

.banner_section .banner_section_img {
  position: absolute;
  bottom: 0;
  max-width: 640px;
  right: 195px;
}

.banner_section .banner_anim {
  z-index: 1;
  right: 45px;
  bottom: 105px;
  transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
  animation: plant-entrance 1.5s forwards,
    plant-shake 2.5s infinite ease alternate-reverse 2s;
  transform-origin: top;
}

@keyframes plant-entrance {
  from {
    transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
  }
  to {
    transform: translateY(0%) rotateZ(0deg) rotateX(0deg);
  }
}

@keyframes plant-shake {
  from {
    transform: rotateZ(-5deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

/*******/
.banner-container {
  width: 100%;
  height: 280px;
  background: url("/public/images/banner1.png");
  background-position: center;
  margin-top: 20px;
  position: relative;
}
.banner-container .banner-content {
  position: absolute;
  bottom: 40px;
  left: 100px;
}
.banner-container .which_page {
  color: #171427;
  font-weight: 530;
}
.pages {
  display: flex;
  margin-top: 15px;
  font-size: 14px;
  align-items: center;
}
.pages .page_arrow {
  margin-right: 2px;
  color: #6f6e6e;
  font-size: 22px;
}
.home-icon {
  font-size: 19px;
  color: #6b6b6b;
  margin-right: 3px;
}

.pages .pages-first {
  color: #6b6b6b;
  display: flex;
}

/* START BASKET */

.basket_frame {
  position: relative;
  padding: 10px 4px 0px 4px;
  width: 480px;
  height: auto;

  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 16px;
}

.basket_frame .all_check_box {
  padding: 0px 8px;
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  background: #f4f4f4;
}

.basket_frame .basket_info_box {
  position: relative;
  margin-top: 6px;
  width: 100%;
  height: auto;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0 2px;
}

.basket_info_box .product_img {
  width: 60px;
  height: 60px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  border-radius: 29px;
}

.basket_info_box .product_name {
  margin-left: -20px;
  width: 150px;
  font-size: 16px;
  color: #000000;
}

.basket_info_box .product_price {
  font-weight: 600;
  margin-left: -20px;
  font-size: 15px;
  line-height: 22px;
  color: #ae0000;
}
.basket_info_box .col-2 {
  margin-left: -20px;
}
.basket_info_box .remove,
.basket_info_box .add {
  display: inline-block;
  border: 1px solid #d9d9d9;
  background: #eeeded;
  border-radius: 4px;
  padding: 0 5px;
}
.basket_info_box .remove {
  margin-right: 6px;
}
.basket_info_box .add {
  /* margin-left: -4px; */
}

.basket_info_box
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 6.5px 14px;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  padding: 4px 0 8px 4px !important;
}

.basket_info_box .css-ece9u5 {
  min-width: 72px;
}

.basket_frame .cancel_btn {
  position: absolute;
  top: 29%;
  right: 9px;
  cursor: pointer;
}
.basket_frame .to_order_box {
  margin-top: 10px;
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f4f4f4;
  border-top: 1px solid rgba(188, 188, 188, 0.5);
  border-bottom: 1px solid rgba(188, 188, 188, 0.5);
}

.to_order_box .price_text {
  margin-left: 10px;
  margin-right: 10px;
  width: 302px;
  display: flex;
  font-size: 16px;
  color: #000000;
}

.basket_frame .orders_wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.basket_frame .orders_main_wrapper {
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  width: 100%;
  height: 260px;

  display: flex;
  flex-direction: column;
}

/* END BASKET */
